/* color palette
https://coolors.co/26532b-2e294e-5abcb9-dde28d-c2aff0
 */

:root {
    --primary-color: #26532B;
    --secondary-color: #2E294E;
    --accent1-color: #5ABCB9;
    --accent2-color: #DDE28D;
    --heading-font: 'lacquer', serif;
    --text-font: 'Noto+Sans+JPwght@300', serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);

}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: 1px solid #ccc;
    max-width: 100%;
}


nav {
    background-color: var(--primary-color);
    padding: 10px;
    max-width: 100%;
}

.logo-box {
    padding: 3rem;
    margin: 0 0.25rem 0 1rem;
    width: 64px;
    height: auto;
}

.navigation {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    list-style: none;
    font-family: var(--text-font);
}

nav a {
    color: var(--accent2-color);
    display: block;
    padding: 15px;
    text-decoration: none;
}

main {
    max-width: 100%;
}

.hero {
    display: block;
	position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    background-color: whitesmoke;
    opacity: .55;
    top: 0;
    text-align: center;
    width: 100%;
}
    
article {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    opacity: .55;
    top: 25%;
    left: 25%;
}

article img {
    display: block;
    float: right;
    max-width: 150px;
	height: auto;
    box-shadow: #2E294E;
}

.history {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

h2 {
    grid-column: 2/3;
}



.image-gallery {
justify-items: center;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 40px;
}

.sociallinks {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    align-content: center;
}



/* h1, h2, h3, h4, h5, h6 { font-family: 'Lacquer', serif; }
p { font-family: 'Noto+Sans+JPwght@300', serif; } */