/* color palette
https://coolors.co/26532b-2e294e-5abcb9-dde28d-c2aff0
 */

:root {
    --primary-color: #26532B;
    --secondary-color: #2E294E;
    --accent1-color: #5ABCB9;
    --accent2-color: #DDE28D;
    --heading-font: 'lacquer', serif;
    --text-font: 'Noto+Sans+JPwght@300', serif;
    --padding: 1rem;
    --border: 1px solid rgb(0 0 0 / 0.1);

}

nav {
    background-color: var(--primary-color);
    padding: 10px;
}

nav a {
    color: var(--accent2-color);
    display: block;
    padding: 15px;
    text-decoration: none;
}

main {
    max-width: 840px;
}

.hero {
	/* margin: 10px auto;
    padding: 15px; */
    display: block;
	position: relative;
}


/* .stats {
    position: absolute;
    bottom: 25px;
	left: 15px;
	background: radial-gradient(#eee, #323A06);
	border: 1px solid #000;
	padding: 0.65rem;
	box-shadow: 0 0 30px #111;
	opacity: 0.9; */


.hero img {
    display: block;
    width: 100%;
    height: auto;
}

h1 {
    position: absolute;
    background-color: whitesmoke;
    opacity: .55;
    top: 3%;
    left: 25%;
    }
    
article {
    display: block;
    position: absolute;
    background-color: whitesmoke;
    opacity: .55;
    top: 20%;
    left: 10%;
}

article img {
    /* display: block; */
    float: right;
    max-width: 150px;
	height: auto;
}
 

.history {
    display: block;
}

.sociallinks {
    display: block;
    text-decoration: none;
}



/* h1, h2, h3, h4, h5, h6 { font-family: 'Lacquer', serif; }
p { font-family: 'Noto+Sans+JPwght@300', serif; } */